In [1]:
mylist = [10, 20, 30]
mylist[1] = 999

mylist

[10, 999, 30]

In [2]:
mylist = list(range(10,100, 10))
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [3]:
mylist.append(100)   # adds one item (100) to the end of the list
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
mylist.append([110, 120, 130])
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, [110, 120, 130]]

In [5]:
len(mylist)

11

In [6]:
mylist[-1]

[110, 120, 130]

In [7]:
mylist = list(range(10,100, 10))

mylist = mylist.append(100)  # this is a VERY VERY BAD IDEA

In [8]:
mylist

In [9]:
type(mylist)

NoneType

In [10]:
print(mylist)

None

In [11]:
mylist = list(range(10,100, 10))

mylist.append(100)
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
mylist.extend([110, 120, 130])
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [13]:
mylist.extend(140)

TypeError: 'int' object is not iterable

In [14]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [15]:
mylist.append('abc')
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 'abc']

In [16]:
mylist.extend('abc')
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 'abc', 'a', 'b', 'c']

In [17]:
mylist += [140, 150, 160]
mylist

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 'abc',
 'a',
 'b',
 'c',
 140,
 150,
 160]

In [18]:
mylist = list(range(10,100, 10))

mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [21]:
mylist.insert(4, 999)  # inserts 999 at index 4, and pushes what was previously at 4
                       # to index 5

In [22]:
mylist

[10, 20, 30, 40, 999, 999, 50, 60, 70, 80, 90]